<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">
    <ul>
        {% for quarter, week_list in archived_by_quarter_by_week.iteritems() %}
        <li>{{ quarter }} <b>{{ archived_by_quarter[quarter]|length }}</b></li>
        <ul>
            {% for week_dict in  week_list %}
                {% for week, cards_list in week_dict.iteritems() %}
                <li> {{ week }} ({{ week.monday() }} to {{ week.friday() }}) <b>{{ cards_list|length }}</b></li>
                <ul>
                    {% for card in cards_list %}
                    <li>{{ card.title }} {{ card.team }}</li>
                    {%- endfor -%}
                </ul>
                {%- endfor -%}
            {%- endfor -%}
        </ul>
        {%- endfor -%}
    </ul>
</div>

</body>
</html>